body{
  padding: 100px;
  margin: 10rem;
  color: #FFF;
  margin: 230px auto;
  background-color:black;
  background-size:100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  line-height: 5rem;
}

p {
  font-size: 5rem;
  font-color: white;
  font-weight:700;
  text-align:left;
}

a {
  color: #47afdc;
  font-family: 'Montserrat', sans-serif;
  text-align:center;
}

li {
  font-size: 1.20rem;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  padding: .5rem 0;
}

footer{
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
}

body{
  margin: 0;
  position: absolute;
  top: 70%;
  left: 83.5%;
  animation-name:shake;
  animation-duration:5s;
}


@keyframes shake{
  0%   {background-color:grey; left:0px; top:650px;}
  25%  {background-color:#0066ff; left:200px; top:650px;}
  50%  {background-color:grey; left:400px; top:650px;}
  75%  {background-color:#00ffff; left:600px; top:650px;}
  100% {background-color:grey; left:1000px; top:0px;}
}

.click {
  grid-column:1 / 9;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;
}

ul.topnav li a {
    text-align: center;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #9933ff;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}