body{
  text-align:center;
  background-size:100% 100%;
  background-repeat: no-repeat;
  background-color:black;
}

h1,h2{
  font-family:'Open Sans', sans-serif;
  font-size:1.5rem;
  font-weight:800;
  padding:2rem;
  white-space:wrap;
  margin-left:22rem;
  margin-right:22rem;
  margin-bottom:1rem;
}

footer{
	padding:-4rem;
}

iframe{
	margin-top:2rem;
}